@model List<Marca>

    <h1>Marcas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        <!-- Arriba se define model con minuscula, acá con mayuscula-->
        @foreach(var marca in Model ) {
            <tr>
                <td>@Html.DisplayFor((m)=> marca.Nombre)</td>
            </tr>
        }
        </tbody>
    </table>